OZON_SERGASHOV_CLIENT_ID=
OZON_SERGASHOV_API_KEY=
OZON_LEBEDEV_CLIENT_ID=
OZON_LEBEDEV_API_KEY=
GOOGLE_SHEETS_CREDS_PATH=./creds/service_account.json
GOOGLE_SHEET_ID=1nLyxuX1W_GSn-GkuiLgea-_QErB8cqkSYqv1UrZwBF8
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
